.formContainer {
  display: flex;
}

::placeholder {
  opacity: 1;
}

.input {
  font-family: inherit;
  padding: 8px;
  width: 300px;
  background-color: #44baf036;
  border-radius: 5px;
  margin-right: 4px;
  border: 3px solid #14213d;
  outline: none;
}

.input:hover {
  font-family: inherit;
  padding: 8px;
  background-color: #44baf036;
  border-radius: 5px;
  border: 3px solid #115ffc;
  outline: none;
}

/* .input:focus {
  border: 3px solid #043596;
  background-color: #115ffc;
} */

.search {
  color: #fca311;
  font-size: 20px;
  padding: 8px;
}

.searchBarContainer {
  display: flex;
}

.button {
  color: rgb(255, 255, 255); 
  font-size: 16px; 
  line-height: 12px; 
  padding: 10px; 
  margin:5px;
  border-radius: 10px; 
  font-family: Georgia, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
  box-shadow: rgba(0, 0, 0, 0.81) 9px 9px 17px 0px; border: 2px solid rgb(28, 110, 164); 
  display: inline-block;
}

.button:hover {
  background: #1C6EA4; 
}

.button:active {
  background: #144E75; 
}
