.title {
  font-size: 40px;
  font-family: inherit;
  margin: 0;
  color: #14213D;
  padding: 5px;
  background-color: #11e4fc;
  border: 3px solid blue;
  border-radius: 5px;
  width: fit-content;
  padding-right: 70px;
  padding-left: 70px;
  margin-bottom: 30px;
}
.header{
  display:flex;
  border: 3px solid grey;
}
.secondContainer {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
}

.dataContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: stretch;
}

.tempContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.img {
  width: 430px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.imgtext{
  margin: 10px;
  text-align: left;
}
.imgContainer {
  width: 600px;
  height: 410px;
  object-fit: scale-down;
  border-radius: 5px;
  margin-bottom: 10px;
  
}

.info {
  font-weight: 400;
  color: blue;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: normal;
  margin-left:10px;
}

.button {
  color: white;
  background-color: #11e4fc;
  border-radius: 5px;
  border: none;
  font: inherit;
  padding: 15px;
  outline: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 52px;
  margin-right: 20px;  
}


.temperament {
  display: inline-block;
  margin: 5px;
  color: #14213D;
  background-color: #11e4fc;
  border-radius: 5px;
  width: fit-content;
  padding: 7px;
  font-weight: 400;
}

.tempButtons {
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
  /* background-color: #11e4fc; */
  /* color: white; */
  font-size: 20px;
  font-family: inherit;
}

.arrow {
  font-size: 60px;
  position: absolute;
  top: 10px;
  left: 100px;
  color: #fca2115e;
  border-radius: 5px;
  transform: rotateY(-180deg);
}

.arrow:hover {
  color: #11e4fc;
  transition: all 0.5s;
  cursor: pointer;
}

.instructions{
  margin-left: 20px;
  color: black;
  text-align: left;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-6-3 21:48:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .blink_1 {
   font-size: 10px;
   color: blue;
	-webkit-animation: blink_1 0.6s both;
	        animation: blink_1 0.6s both;
}

/**
 * ----------------------------------------
 * animation blink_1
 * ----------------------------------------
 */
 @-webkit-keyframes blink_1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink_1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
