.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 8px;
  border-bottom: 2px solid #1e8003;
  margin-bottom: 30px;
}

.mainContainer{
  display: flex;
  justify-content: center;
}


.linkContainer{
  display: flex;
  align-items: center;
}

.linkContainer a {
    margin: 0 20px;
    color: blue;
    font-size: 20px;
    font-family: inherit;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s;    
  }

  .hover {
    display: inline-block;
    position: relative;
    color: cyan;
  }
  
  .hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #1e8003;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .navContainer a:hover {
    color: #f80c0c;
    transform: translateZ(5px);
  }

.idiomas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 187px;
}
.idiomas label{
  color:blue; 
}
