.landing {
  background-image: url('./recipe.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
}

.title {
  color: #fca311;
  font-family: inherit;
  text-shadow: 0px 5px 10px #fca311;
  font-weight: 800;
  font-size: 60px;
  margin: 0;
  padding: 20px;
}

.button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #fca311 5%, #fca311 100%);
  background-color: #fca311;
  border-radius: 10px;
  border: 1px solid #fca311;
  display: inline-block;
  cursor: pointer;
  color: #030303;
  font-family: Times New Roman;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  padding: 7px 30px;
  margin-left: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  margin-left: 20px;
  max-width: 200px;
}

.button:hover {
  background: linear-gradient(to bottom, #a1680d 55%, #fca311 100%);
  background-color: #fca311;
}

.msgContainer {
  display: flex;
  flex-direction: column;
  align-items: flex;
}

.img1{background-image: url('../../image/img1.jpg');background-size: cover;background-repeat: no-repeat;height: inherit;}
.img2{background-image: url('../../image/img2.jpg');background-size: cover;background-repeat: no-repeat;height: inherit;}
.img3{background-image: url('../../image/img3.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}
.img4{background-image: url('../../image/img4.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}
.img5{background-image: url('../../image/img5.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}
.img6{background-image: url('../../image/img6.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}
.img7{background-image: url('../../image/img7.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}
.img8{background-image: url('../../image/img8.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}
.img9{background-image: url('../../image/img9.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}
.img10{background-image: url('../../image/img10.jpg'); background-size: cover;background-repeat: no-repeat;height: inherit;}

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.contentCarrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.contentCarrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.contentCarrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.contentCarrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.contentCarrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.contentCarrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.contentCarrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.contentCarrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.contentCarrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.contentCarrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.contentCarrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.contentCarrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.contentCarrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.contentCarrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.contentCarrousel img{
    width: 100%;
    transition: all 300ms;
}

.contentCarrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
