.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;  
  width: 90%;
  margin: 20px;
  height: auto;
  border-radius: 10px;
  position:relative;
  border: 4px solid #14213D;
  padding: 10px;
  padding-bottom: 15px;
  -webkit-box-shadow: 9px 9px 17px 0px rgba(0,0,0,0.81); 
  box-shadow: 9px 9px 17px 0px rgba(0,0,0,0.81);
}

.title{
  font-weight: 700;
  color:rgba(36, 36, 181, 0.838);
  font-size: 20px;
}

.card:hover{
  border: 4px solid #fca211;
  transition: all .5s;
}

.imgContainer{
  width: 90%;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.myButton {
  color: rgb(255, 255, 255); 
  font-size: 18px; 
  line-height: 18px; 
  padding: 15px; 
  border-radius: 14px; 
  font-family: Georgia, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
  box-shadow: rgba(0, 0, 0, 0.81) 9px 9px 17px 0px; border: 2px solid rgb(28, 110, 164); 
  display: inline-block;
}

.myButton:hover {
  background: #1C6EA4; 
}

.myButton:active {
  background: #144E75; 
}

.button {
  font-size: 18px;
  border: 3px solid #14213d;
  color: #ffffff00;
  background-color: #fca21136;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  color: #14213d;
  background-color: #fca211;
}

.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  border-radius: 5px;
}
